@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f0f0f0;
    --destaque-color: #FE5B3E;
    --base-color: #303030;
    --white: #ffffff;
    --espacamento: 1rem;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    align-items: center;
}

.h1{
    font-size: 53px;
    font-family: Outfit, sans-serif;
}
.h2{
    font-size: 48px;
    font-family: Outfit, sans-serif;
}
.h4{
    font-size: 20px;
    font-family: Outfit, sans-serif;
}

.text{
    font-size: 16px;
    font-family: Outfit, sans-serif;
    color: var(--base-color);
}

.img{
    max-width: 100%;
    height: auto;
    display:block;  
}

.h2-base span {
    color: var(--destaque-color);
    font-size: 48px;
}

.body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--background-color);
    color: var(--base-color);
    line-height: 1.6;
}

.a{
    text-decoration: none;
    color: inherit;
}

.ul{
    list-style: none;
    padding: 0;
}

.header, main, footer{
    padding: var(--espacamento);
    max-width: 1200px;
    margin: auto;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento);
    background-color: var(--white);
    margin-top: 0.5rem;
}

.header-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: var(--espacamento);
    color:var(--destaque-color);
    margin-top: 3rem;
    margin-left: 1rem;
}

.menu-mobile {
  display: none;
}

.menu-desktop,
.menu-desktop-login {
  display: flex; 
}

.top-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.img-mn-hamburguer{
    width: 40px;
    height: 40px;
    margin-top: 2rem;
    border-radius: 8px;
    padding: 9px;
    border: 1px solid rgba(254, 91, 62, 0.055);
    background-color: var(--white);
}

.fundo-memorable-drive{
    background: url('../imgs/hero/fundo-memorable-drive.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-img{
    width: 100%;
    max-width: 150px;
    margin: 2rem 0;
}






@media (max-width: 768px) {
  .menu-mobile {
    display: block;
  }

  .menu-desktop,
  .menu-desktop-login {
    display: none;
  }
}