@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f0f0f0;
    --primary-color: #FE5B3E;
    --text-color: #303030;
    --white: #ffffff;
    --gray: #e4e3e3;
    --spacing: 1rem;
}

.body {
    font-family: Outfit, sans-serif;
}


.header-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: var(--spacing);
    color: var(--primary-color);
    margin-top: 3rem;
    margin-left: 1rem;
}

.hero-title {
    font-size: 48px;
}

.section-subtitle {
    font-size: 20px;
    color: var(--text-color);
}

.hero-description,
.section-description {
    font-size: 16px;
    color: var(--text-color);
}

.highlight {
    color: var(--primary-color);
    font-size: 48px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

.header, .main, .footer {
    padding: var(--spacing);
    max-width: 1200px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    background-color: var(--white);
    margin-top: 0.5rem;
}

.menu-mobile {
    display: none;
}

.menu-desktop,
.menu-auth {
    display: flex;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    width: 40px;
    height: 40px;
    margin-top: 2rem;
    border-radius: 8px;
    padding: 9px;
    border: 1px solid rgba(254, 91, 62, 0.055);
    background-color: var(--white);
}

.background-image {
    background: url('../imgs/hero/fundo-memorable-drive.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-image {
    width: 100%;
    max-width: 150px;
    margin: 2rem 0;
}

.section-subtitle {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.main {
    margin-left: 1rem;
}

.blog-card {
    display: flex;
}

.blog-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.rating-icon {
    width: 17px;
    height: 17px;
}

.car-brand {
    color: var(--gray);
    font-size: 16px;
    display: flex;
    margin-bottom: 12px;

}

.car-rating {
    display: flex;

}

.car-model{
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 500;
}

.blog-info{
    margin-top: 30px;
}

.how-it-works {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-label{
    font-size: 20px;
    color: var(--gray);
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.section-title{
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.section-title span{
    font-size: 36px;    
}

.section-description{
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 2rem;
}

.step-card{
    background-color: var(--gray);
    border-radius: 16px;
    padding: 4rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.step-icon{
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.5rem auto;
}

.step-title{
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.step-description{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
}

.best-service{
    justify-content: start;
}

.service-label{
    font-size: 20px;
    color: var(--gray);
    font-weight: 500;
}

.service-title{
    margin-top: 1rem;
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: left;
}

.service-title span{
    font-size: 36px;
    color: var(--primary-color);

}

.service-description{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 2rem;
}

.service-description{
    font-size:16px;
    color: var(--text-color);
}

.feature-item{
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}
.feature-content{
    display: flex;
    flex-direction: column;
}


.feature-icon{
    width: 24px;
    height: 24px;
}

.feature-description{
    font-size: 16px;
    color: var(--text-color);
    margin-top: 1rem;
}

.feature-title{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
}

.btn-primary{
    padding: 0.5rem 1.7rem;
    color: var(--primary-color);
    border: 1px solid #fe5b3e42;
    border-radius: 10px;
}

.service-imagem{
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    margin-top: 5rem;
    margin-left: -1.4rem;
    margin-bottom: 7rem;

}

.feature-label{
    font-size: 20px;
    color: var(--gray);
    font-weight: 500;
}

.services-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray);
    padding: 2rem 0.5rem;
    border-radius: 10px;
}

.service-card-title{
    font-size: 13px;
    color: var(--text-color);
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
}

.car-booking{
    margin-top: 5rem;
}

.booking-controls{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.filter-icon{
    width: 24px;
    height: 24px;
    margin-left: 3.5rem;
}

.expand-icon{
    width: 24px;
    height: 24px;
    margin-left: 9.5rem;
}

.car-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.car-model{
    font-size: 24px;
    color: var(--text-color);
}

.car-brand{
    margin-top: -2rem;
    margin-right: 8.3rem;
}

.car-price{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
    margin-top: -1rem;
    margin-right: 5rem;
}


@media (max-width: 768px) {
    .menu-mobile {
        display: block;
    }

    .menu-desktop,
    .menu-auth {
        display: none;
    }
}