@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f0f0f0;
    --primary-color: #FE5B3E;
    --text-color: #303030;
    --white: #ffffff;
    --light-gray: #f5f5f5;
    --gray:#e4e3e3;
    --spacing: 1rem;
}

.body {
    font-family: Outfit, sans-serif;
    margin-right: 1rem;
}


.header-logo {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: var(--spacing);
    color: var(--primary-color);
    margin-top: 3rem;
    margin-left: 1rem;
}

.header-car-image{
    width: 311px;
    height: 592px;
    margin-left: 1rem;
    border-radius: 16px;
    
}

.hero-title {
    font-size: 48px;
}

.section-subtitle {
    font-size: 20px;
    color: var(--text-color)
}

.hero-description,
.section-description {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 100;
}

.highlight {
    color: var(--primary-color);
    font-size: 48px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    margin-top: 0.5rem;
}

.mobile-menu-toggle {
    display: block;
}

.menu-desktop,
.menu-auth {
    display: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    width: 40px;
    height: 40px;
    margin-top: 2rem;
    border-radius: 8px;
    padding: 9px;
    border: 1px solid rgba(254, 91, 62, 0.055);
}
.memorable-title{
    color:white
}

.memorable-drive{
    padding: 80px 50px;
    background-image: url(../imgs/background.png);
    background-size: cover;
    background-position: center;
    margin-right: -1rem;
    margin-left: -1rem;
}



.blog-image {
    width: 100%;
    max-width: 150px;
    margin: 2rem 0;
}

.memorable-drive .section-title h2{
    color: white;
}

.section-subtitle {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.main {
    margin-left: 1.5rem;
}

.blog-card {
    display: flex;
    
}

.blog-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.rating-icon {
    width: 17px;
    height: 17px;
}

.car-brand {
    color: var(--gray);
    font-size: 16px;
    display: flex;
    margin-bottom: 8px;

}

.car-rating {
    display: flex;

}

.car-model{
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 500;
}

.blog-info{
    margin-top: 20px;
}

.how-it-works {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-label{
    font-size: 20px;
    color: var(--gray);
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.section-title-blog{
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.section-title span{
    font-size: 36px;    
}

.section-description-blog{
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 2rem;
}

.step-card{
    background-color: var(--light-gray);
    border-radius: 16px;
    padding: 4rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.step-icon{
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.5rem auto;
}

.step-title{
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.step-description{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
}

.best-service{
    justify-content: start;
}

.service-label{
    font-size: 20px;
    color: var(--gray);
    font-weight: 500;
}

.service-title{
    margin-top: 1rem;
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: left;
}

.service-title span{
    font-size: 36px;
    color: var(--primary-color);

}

.service-description{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 2rem;
}

.service-description{
    font-size:16px;
    color: var(--text-color);
}

.feature-item{
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}
.feature-content{
    display: flex;
    flex-direction: column;
}


.feature-icon{
    width: 24px;
    height: 24px;
}

.feature-description{
    font-size: 16px;
    color: var(--text-color);
    margin-top: 1rem;
}

.feature-title{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
}

.carro-feature{
    width: 340px;
    margin-left: -1rem;
}

.btn-primary{
    padding: 0.5rem 1.7rem;
    color: var(--primary-color);
    border: 1px solid #fe5b3e42;
    border-radius: 10px;
    font-weight: bold;
}

.service-imagem{
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    margin-top: 5rem;
    margin-left: -1.4rem;
    margin-bottom: 7rem;

}

.feature-label{
    font-size: 20px;
    color: var(--gray);
    font-weight: 500;
}

.services-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-gray);
    padding: 2rem 0.5rem;
    border-radius: 10px;
}

.service-card-title{
    font-size: 13px;
    color: var(--text-color);
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
}



.booking-controls{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.filter-icon{
    width: 54px;
    height: 54px;
    margin-left: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.expand-icon{
    width: 54px;
    height: 54px;
    margin-left: 9.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.car-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 1.5rem 1rem; 
    background-color: var(--white);
    border-radius: 20px;

}


.car-model{
    font-size: 24px;
    color: var(--text-color);
}

.car-price{
    font-size: 22px;
    color: var(--primary-color);
    font-weight: 600;
    margin-left: 2.5rem;
}

.bmw{
    margin-top: -2rem;
    margin-right: 8.3rem;
}

.bmw-star{
    margin-left: 4.3rem;
}
.car-star-rating{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.rating-icon{
    width: 17px;
    height: 17px;
}

.page-info{
    display: flex;
    flex-direction: row  ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 300;
}

.btn-next-page{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.btn-secondary{
    padding: 0.7rem 1.7rem;
    color: var(--white);
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
    justify-self: center;
    align-self: center;

}

.background-image{
    height: 100mv;
    max-width: 100%;
}

.rem-cards{
    margin-left: 1.5rem;
}

.title-booking{
    margin-top: 0rem;
    font-size: 36px;
}

.car-booking{
    padding:5rem 1rem 3rem 1rem;
    background-color: var(--light-gray);
    border-radius: 18px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.feature-booking{
    margin-bottom: -1rem;
}

.page-input{
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border-color: var(--gray);
    text-align: center;
}

.section-title{
    font-size: 36px;
    color: var(--white);
    text-align: center;
    margin-left: -2rem;
    margin-right: -2rem;

}

.section-description{
    font-size: 16px;
    color: var(--white);
    text-align: center;
    margin-bottom: 3rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

.section-btn{
    margin-left: 2rem;
    padding: 0.5rem 1.7rem;
    background-color: var(--primary-color);
    color: var(--white)
}


.footer{
    background-color: var(--light-gray);
    margin-top: -1rem;
    margin-left: 1rem;
    border-radius: 16px;
}

.footer-content {
    margin-left: 1rem;

    
}

.footer-cta{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cta-title{
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
    display:initial;
}

.footer-btn{
    display: block;
    width: fit-content;
    border-radius: 12px;
    margin-top: 1rem;
    margin-left: -0.2rem;

}

.column-title{
    color:var(--primary-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--text-color)
}

.legal-links{
    display: flex;
    gap: 2.5rem;
    margin-top: 5rem;
    color: var(--text-color);
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.blog-card-desk{
    display: none;
}

.car-booking-desk{
    display: none;
}



@media (min-width: 1024px) {
    .mobile-menu-toggle {
        display: none; 
    }

    .car-booking{
        display: none;
    }

    .car-booking-desk{
    display: block;
}  

    .main{
        margin-left: 0;
    }

    .menu-desktop {
        display: flex; 
        gap: 2rem;
        
    }

    .blog-card-desk{
        display: flex;
        
    }

    .menu-auth {
        display: flex; 
        gap: 1.5rem;
        color: var(--text-color);
        margin-right: 18em;
    }

    .header-nav{
        align-items: start;
        justify-content: start;
        color: var(--text-color);
        margin-left: 7rem;

    }

    .header-logo {
        margin-top: 16px;
        font-size: 36px;
        margin-left: 4rem;
    }

    .top-bar{
        margin-top: 1rem;

    }

    .header-car-image {
        position:absolute;
        width: 390px;
        height: 660px;
        margin-top: -5rem;
        border-radius: 16px;
        z-index: -1;
    }
    
    .hero-content{
        position: relative;
        margin-left: 29rem;
        margin-top: 6rem;
    }

    .hero-title{
        font-size: 56px;
        margin-bottom: 2rem;
        margin-top: -2rem;
        font-weight: bold;
    }
    .highlight{
        font-size: 56px;
        font-weight: bold;

    }

    .hero-content{
        width: 40%;
        color: var(--text-color)
    }

    .section-subtitle{
        margin-top: 4rem;
    }

    .blog-image{
        width: 90px;
        height: 70px;
    }

    .car-rating{
        margin-top: -1.4rem;
        gap: 1rem;
    }

    .car-model{
        margin-right: 3rem;
        font-size: 20px;
        white-space: nowrap;
    }

    .steps-grid{
        display: flex;
        gap: 2rem;
    }
    
    .rating-value{
        font-weight: bold;
    }

    .step-icon{
        margin: 0;
    }

    .step-card{
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .step-description{
        width: 70%;
    }

    .cards-hero{
        display: flex;
    }

    .memorable-drive{
        height: 653px;
        width: 1440px;
    }

    .how-it-works{
        margin-top: 12rem;
        margin-left: -5rem;
    }

    .steps-grid{
        margin-left: 9rem;
    }

    .section-title-blog{
        font-size: 56px;
    }

    .section-description-blog{
        width: 40%;
        display: flex;
        text-align: center;
        justify-self: center;
    }

    .step-card{
        height: 25rem;
        width: 20rem;

    }

    .section-label{
        color: var(--text-color);
        font-weight: 5;
    }

    .section-title-blog{
        width: 40%;
        text-align: center;
        justify-self: center;
    }

    .carro-feature{
        position: absolute;
        margin-left: -36rem;
        margin-top: -51rem;
        height: 760px;
        width: 500px;
    }

    .best-service{
        margin-top: 10rem;
        margin-left: 37rem;
        width: 38%;
    }

    .service-title{
        font-size: 56px;
        width: 80%;
    }

    

    .service-title span{
        font-size: 56px;
    }

    .service-label{
        color: var(--text-color);
        font-weight: 5;
    }
    
    .service-description{
        margin-bottom: 1rem;
        font-weight: 100;
    }


    .service-cards{
        display: flex;

    }

    .services-grid{
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        margin-top: -20rem;
        margin-left: 36rem;
        width: 480px;
    }

    

    .service-description-desk{
        width: 30%;
        margin-bottom: 3rem;
    }

    .section-header{
        margin-left: -8rem;
    }

    .section-header-desk{
        margin-left: 15rem;
    }

    .feature-label{
        color: var(--text-color);
        font-weight: 5;
    }

    .btn-primary{
        background-color: var(--primary-color);
        color: var(--white);
        font-weight: 100;
    }

   .menu-icon{
    background-color: var(--white);
    color: var(--primary-color);
   }
    
    .cars{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
    }

    .car-booking-desk{
        padding: 2rem;
        background-color: var(--background-color);
    }

    .top-bar-carbooking{
        
    }

    .desk-details{
        width: 200px;
        margin-bottom: 2rem;
        height: 200px;

    }

    .car-image{
        width: 150px;
        margin-top: 1rem;
    }

    .car-price{
        margin-left: 1rem;
    }
}